body {
    font-family: Arial, sans-serif;
    background-color: #f3e7f4;
    text-align: center;
    padding: 20px;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    background-color: #c7dcd4;
    padding: 15px;
    border-radius: 10px;
}

h1 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

.room-card {
    display: flex;
    align-items: center;
    background-color: white;
    margin: 15px 0;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 5px 5px 0px black;
    position: relative;
}

.icon-container {
    width: 70px;
    height: 70px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}

.living-room {
    background-color: #e4d5f9;
}

.bathroom {
    background-color: #d7baff;
}

.bedroom {
    background-color: #ffeecc;
}

.room-info {
    flex: 1;
    text-align: left;
}

.room-name {
    font-size: 18px;
    font-weight: bold;
}

.devices {
    font-size: 14px;
    color: #555;
}

.temperature {
    background-color: black;
    color: white;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    bottom:15px;
    left: 130px;
}

.btn {
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

/* Toggle Switch Container */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
}

/* Hide Default Checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* Slider (Switch Background) */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 25px;
}

/* Slider Circle */
.slider::before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 3.5px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

/* When Checked (On State) */
input:checked + .slider {
    background-color: #009688;
}

input:checked + .slider::before {
    transform: translateX(24px);
}

.button_label{
    position: relative;
    display: inline-block;
    width: 75px;
    height: 40px;
}

.dispenser_button {
    transition-duration: 0.4s;
    color: white;
    padding: 8px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 5px 12px;
    color:black;
    border: 1px solid #f0f0f0;
    border-radius: 12px;
    font-weight: bold;
  }
  
  .dispenser_button:hover {
    background-color: #009688;
    color: white;
  }
  

  .dispenser_button:active {
    transform: scale(0.90); /* Slightly shrink the button */
    background-color: #00796B; /* Darker shade when clicked */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}